.FormTitle{
    font-size: 1.5625em; /* 1em = 16px */
    margin-top: 20px;
    color: #AA3A21;
    position: relative;
    text-align: left;
    font-weight: bold;
    padding-left: 14px;
}

.ccImage {
    width: 100%;
    min-width: 330px;
    max-width: 350px;
}

.ccDescription {
    justify-content: center;
    color: #173A77 !important;
    display: inline-grid;
    align-content: center;
}

.ccSelectDiv {
    display: inline-grid;
    align-items: center;
    justify-content: center;
}

.ccSelectBtn {
    background-color: #AA3A21 !important;
    padding: 8px 60px !important;
    color: white !important;
    text-transform: none !important;
}